<!--
*/ =================================================== **
**                    HOME CONTENT                     **
** =================================================== */
/* Author    : Thierry CHARPENTIER                      *
*  Date      : 16.09.2018                               *
*  Version   : V2R0                                     *
* ==================================================== */
-->
    <ol class="breadcrumb row">
        <li><a href="index.php?action=home">Accueil</a></li>
        <li class="active">Politique de confidentialité</li>
    </ol>
    <div class="row polities">
        <div class="col-sm-12 text-center">
            <h3>Politique de confidentialité</h3>
            <h4>du site : www.agekhanonix.fr/iso</h4>
        </div>
    </div>
    <section class="row polities">
        <article class="col-sm-4">
            <h4 class="text-center">ART I : PREAMBULE</h4>
            <p>Cette politique de confidentialité s'applique au site : www.agekhanonix.fr/iso.<br/>
            La présente politique de confidentialité a pour but d'exposer aux utilisateurs du site :</p>
            <ul class="list-group">
                <li class="list-group-item">La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur. Il s'agit notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse mail, la localisation de l'utilisateur ou encore son adresse IP ;</li>
                <li class="list-group-item">Quels sont les droits des utilisateurs concernant ces données ;</li>
                <li class="list-group-item">Qui est responsable du traitement des données à caractère personnel collectées et traitées ;</li>
                <li class="list-group-item">A qui ces données sont transmises ;</li>
                <li class="list-group-item">Eventuellement, la politique du site en matière de fichiers "cookies"</li>
            </ul>
            <p>Cette politique de confidentialité complète les mentions légales et les Conditions Générales d'Utilisation que les utilisateurs peuvent consulter à l'adresse du site</p>
        </article>
        <article class="col-sm-4">
            <h4 class="text-center">ART 2 : PRINCIPES GÉNÉRAUX EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DE DONNÉES</h4>
            <p>Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :</p>
            <ul class="list-group">
 	            <li class="list-group-item">Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;</li>
 	            <li class="list-group-item">Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes conditions générales d'utilisation ;</li>
 	            <li class="list-group-item">Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;</li>
 	            <li class="list-group-item">Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Si la durée de conservation ne peut être communiquée à l'utilisateur ;</li>
 	            <li class="list-group-item">Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.</li>
            </ul>
        </article>
        <article class="col-sm-4">
            <p>Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :</p>
            <ul class="list-group">
                <li class="list-group-item">L'utilisateur a expressément consenti au traitement ;</li>
                <li class="list-group-item">Le traitement est nécessaire à la bonne exécution d'un contrat ;</li>
                <li class="list-group-item">Le traitement répond à une obligation légale ;</li>
                <li class="list-group-item">Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;</li>
                <li class="list-group-item">Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique ;</li>
                <li class="list-group-item">Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</li>
            </ul>
        </article>
    </section>
    <hr>
    <section class="row polities">
        <article class="col-sm-4">
            <h4 class="text-center">ART 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE</h4>
            <h5><u>DONNÉES COLLECTÉES ET TRAITÉES ET MODE DE COLLECTE</u></h5>
            <p>Les données à caractère personnel collectées sur le site www.agekhanonix.fr/ots sont les suivantes :</p>
            <ul class="list-group">    
                <li class="list-group-item">- les données d'état-civil, données d'identification (ex: nom, prénom, adresse,...),</li>
                <li class="list-group-item">- les données de connexion (ex: IP, log, type de terminal, identifiant de connexions, horodatage,...),</li>
                <li class="list-group-item">- les informations à l'usage du site (ex : nombre de réservation, temps passé, articles consultés,...),</li>
                <li class="list-group-item">- les données de localisation (ex: déplacement, coordonnées GPS, GSM,...).</li>
            </ul>    
            <p>Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site :</p>
            <ul class="list-group" >
                <li class="list-group-item">- lors de la réservation d'unes ou plusieurs places pour l'un des événements organisés par la ville de Strasbourg ou ses partenaires.</li>
            </ul>
        </article>
        <article class="col-sm-4">  
            <p>Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de : 3ans pour une simple visite ou de 5 ans si celle-ci à donné lieu à une réservation moyennant paiement.<br/>
            La collecte et le traitement des données répondent aux finalités suivantes :</p>
            <ul class="list-group"> 
                <li class="list-group-item">les données ip ou de localisation sont collectées afin d'offrir un meilleur service aux usagers du site.</li>
                <li class="list-group-item">les données liées à une réservation, le sont pour des raisons liées à un contentieux et/ou tout compte rendu vis à vis de nos partenaires</li>
            </ul>
            <h5><u>TRANSMISSION DES DONNÉES A DES TIERS</u></h5>
            <p>Les données à caractère personnel collectées par le site ne sont transmises à aucun tiers, et ne sont traitées que par l'éditeur du site.</p>
            <h5><u>HÉBERGEMENT DES DONNÉES</u></h5>
            <p>Le site www.agekhanonix.fr/ots est hébergé par : OVH, dont le siège est situé à l'adresse ci-après :</p>
            <address><strong>OVH</strong><br/>2 RUE KELLERMANN 59100 ROUBAIX</address>
            <p>L'hébergeur peut être contacté au numéro de téléphone suivant : 0388582828<br/>
            Les données collectées et traitées par le site sont exclusivement hébergées et traitées en France.</p>
        </article>
        <article class="col-sm-4">
            <h4 class="text-center">ART 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES</h4>
            <h5><u>LE RESPONSABLE DU TRAITEMENT DES DONNÉES</u></h5>
            <p>Le responsable du traitement des données à caractère personnel est : <strong>Thierry CHARPENTIER</strong>. Il peut être contacté de la manière suivante :</p>
            <ul class="list-group">
                <li class="list-group-item">par téléphone du Lundi au Vendredi de 09:00 à 18:00</li>
                <li class="list-group-item">par <a href="mailto:thierry.charpentier.ct@gmail.com">courriel</a></li>
            </ul>
            <p>Le responsable du traitement des données est chargé de déterminer les finalités et les moyens mis au service du traitement des données à caractère personnel.</p>
            <h5><u>OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES</u></h5>
            <p>Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.<br/>
            De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.<br/>
            Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen.</p>
        </article>
    </section>
    <hr>
    <section class="row polities">
        <article class="col-sm-4">
            <h4 class="text-center">ART 5 : DROITS DE L'UTILISATEUR</h4>
            <p>Conformément à la réglementation concernant le traitement des données à caractère personnel, l'utilisateur possède les droits ci-après énumérés.<br/>
            Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénoms et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.<br/>
            Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 (trente) jours maximum.</p>
            <h5><u>PRÉSENTATION DES DROITS DE L'UTILISATEUR EN MATIÈRE DE COLLECTE ET TRAITEMENT DE DONNÉES</u></h5>
            <h5><em>Droit</em> d'accès,<em> de rectification et droit à l'effacement</em></h5>
            <ul class="list-group">
                <li class="list-group-item">L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :</li>
                <li class="list-group-item">L'utilisateur doit envoyer un courriel au responsable du traitement des données personnelles, en précisant l'objet de sa demande et en utilisant l'adresse de contact fournie plus haut.</li>
                <li class="list-group-item">S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel en suivant la procédure suivante :
                    <ol class="list-group">
                        <li class="list-group-item">L'utilisateur doit envoyer un courriel au responsable du traitement des données personnelles, en utilisant l'adresse de contact fournie plus haut et en précisant son identifiant d'espace personnel.</li>
                        <li class="list-group-item">La demande de suppression d'espace personnel sera traitée dans un délai maximum de 10 (dix) jours ouvrés.</li>
                    </ol>
                </li>
            </ul>
        </article>
        <article class="col-sm-4">
            <h5>Droit à la portabilité des données</h5>
            <p>L'utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en se conformant à la procédure ci-après :<br/>
            L'utilisateur doit faire une demande de portabilité de ses données personnelles auprès du responsable du traitement des données personnelles en envoyant un courriel a l'adresse définie ci-dessus.</p>
            <h5><em>Droit à la limitation et à l'opposition du traitement des données</em></h5>
            <p>L'utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'utilisateur.<br/>
            Afin de demander la limitation du traitement de ses données ou de formuler une opposition au traitement de ses données, l'utilisateur doit suivre la procédure suivante :<br/>
            L'utilisateur doit faire une demande de limitation de ses données personnelles, ou formuler son opposition au traitement, auprès du responsable du traitement des données personnelles en envoyant un courriel a l'adresse définie ci-dessus.</p>
            <h5>Droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé</h5>
            <p>Conformément aux dispositions du règlement 2016/679, l'utilisateur a le droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé si la décision produit des effets juridiques le concernant, ou l'affecte de manière significative de façon similaire.</p>
            <h5><em>Droit de déterminer le sort des données après la mort</em></h5>
            <p>Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.</p>
            <h5><em>Droit de saisir l'autorité de contrôle compétente</em></h5>
            <p>Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette décision, ou, s'il pense qu'il est porté atteinte à l'un des droits énumérés ci-dessus, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent.</p>
        </article>
        <article class="col-sm-4">
            <h5><u>DONNÉES PERSONNELLES DES PERSONNES MINEURES</u></h5>
            <p>Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.<br/>
            Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées.<br/>
            L'éditeur du site se réserve le droit de vérifier par tout moyen que l'utilisateur est âgé de plus de 15 ans, ou qu'il aura obtenu l'accord d'un représentant légal avant de naviguer sur le site.</p><br/>
            <h4 class="text-center">ART 6 : UTILISATION DES FICHIERS "COOKIES"</h4>
            <p>Le site a éventuellement recours aux techniques de "cookies".<br/>
            Un "cookie" est un fichier de petite taille (moins de 4 ko), stocké par le site sur le disque dur de l'utilisateur, contenant des informations relatives aux habitudes de navigation de l'utilisateur.<br/>
            Ces fichiers lui permettent de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur.<br/>
            Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse de données à caractère personnel, le consentement de l'utilisateur est nécessairement demandé.<br/>
            Ce consentement de l'utilisateur est considéré comme valide pour une durée de 13 (treize) mois maximum. A l'issue de cette période, le site demandera à nouveau l'autorisation de l'utilisateur pour enregistrer des fichiers "cookies" sur son disque dur.</p>
            <h5><em>Opposition de l'utilisateur à l'utilisation de fichiers "cookies" par le site</em></h5>
            <p>Il est porté à la connaissance de l'utilisateur qu'il peut s'opposer à l'enregistrement de ces fichiers "cookies" en configurant son logiciel de navigation.<br/>
            Pour information, l'utilisateur peut trouver aux adresses suivantes les démarches à suivre afin de configurer son logiciel de navigation pour s'opposer à l'enregistrement des fichiers "cookies" :</p>
        </article>
    </section>
    <hr>
    <section class="row polities">
        <article class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item"><span class="fab fa-chrome"></span>&nbsp;Chrome : <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a></li>
                <li class="list-group-item"><span class="fab fa-firefox"></span>&nbsp;Firefox : <a href="https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences</a></li>
                <li class="list-group-item"><span class="fab fa-safari"></span>&nbsp;Safari : <a href="http://www.apple.com/legal/privacy/fr-ww/">http://www.apple.com/legal/privacy/fr-ww/</a></li>
                <li class="list-group-item"><span class="fab fa-internet-explorer"></span>&nbsp;Internet Explorer : <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
                <li class="list-group-item"><span class="fab fa-opera"></span>&nbsp;Opera : <a href="http://www.opera.com/help/tutorials/security/cookies/">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
            </ul>
        </article>
        <article class="col-sm-4">
            <p>Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement du site provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'éditeur du site.</p><br/>
            <h4 class="text-center">ART 7 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</h4>
            <p>L'éditeur du site se réserve le droit de la modifier afin de garantir sa conformité avec le droit en vigueur.<br/>
            Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette politique de confidentialité afin de se tenir informé des derniers changements qui lui seront apportés.<br/>
            Il est porté à la connaissance de l'utilisateur que la dernière mise à jour de la présente politique de confidentialité est intervenue le : 20/09/2018.</p>
        </article>
        <article class="col-sm-4">
            <h4 class="text-center">ART 8 : ACCEPTATION PAR L'UTILISATEUR DE LA POLITIQUE DE CONFIDENTIALITÉ</h4>
            <p>En naviguant sur le site, l'utilisateur atteste avoir lu et compris la présente politique de confidentialité et en accepte les conditions, en ce qui concerne plus particulièrement la collecte et le traitement de ses données à caractère personnel, ainsi que l'utilisation de fichiers "cookies".</p>
        </article>
    </section>       