/* =================================================== **
**             CASCADING STYLES SHEET                  **
** =================================================== */
/* Author    : Thierry CHARPENTIER                      *
*  Date      : 24.10.2018                               *
*  Version   : V1R0                                     *
* ==================================================== */
html, body {
    display: block;
    background: #c8dacf;
    width: 100%;
    height: 100%;
    color: #130074;
    font-size:      14px;
    font-family: 'Oswald', 'Verdana', sans-serif;
}
/* ---                                             --- **
**                    NAVIGATION MENU                  **
** ---                                             --- */
.navbar {
    vertical-align: middle;
}
.navbar-brand {
    padding: 0.1px 15px;
}
.navbar-brand h1 {
    text-align:     center;
    color:          #cacbcc;
    font-family:    'Mr Dafoe', cursive;
    font-size:      1.1rem;
    text-shadow: -1px 0 0 rgba(158, 20, 13, 0.8), 
        1px 0 0 rgba(158, 20, 13, 0.8),
        0 -1px 0 rgba(158, 20, 13, 0.8),
        0 1px 0 rgba(158, 20, 13, 0.8);
}
.navbar-fixed-top {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.inline-form input {
    display: inline-block;
    width: 100px;
}
.navbar-right {
    margin-right: 10px;
}
[data-loading]{
    position: fixed;
    display: block;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
}
[data-loading] > * {
    display: block;
    position: absolute;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}
[data-loading] > *:first-child {
    top: 0;
    left: 0;
    background: #3d424d;
}
[data-loading] > *:last-child {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    background: #e9103a;
}
[data-loading] > * > * {
    display: block;
    position: absolute;
    width: 10vh;
    height: 10vh;
    top: 45vh;
    right: 0;
    background: #e9103a;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 100%;
}
[data-loading] > *:last-child > * {
    background: #3d424d; 
}
[data-loading="complete"] {
    animation: close 0s forwards;
    animation-delay: 1s;
}
[data-loading="complete"] > * {
    animation: open 0.5s forwards;
    animation-delay: 0.5s;
}
@keyframes open {
    from{ height: 100vh;}
    to{height: 0;}
}
@keyframes close {
    to{z-index: -100;}
}
[data-expand] {
    display: inline-block;
    overflow: hidden;
    text-align: left;
}
[data-expand] .card {
    font-family: 'Oswald', 'Verdana', sans-serif;
}
[data-expand] .card-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', 'Verdana', sans-serif;
}
[data-expand] .card-text {
    font-family: 'Oswald', 'Verdana', sans-serif;
} 
[data-expand] .card-text::first-letter {
    padding-left: 5px;
    font-size: 1.2em;
}
[data-expand=""] {
    animation: cl-expand 1s forwards;
}
[data-expand=""] > *:not(*:first-child) {
    display: none;
}
[data-expand="open"] {
    animation: op-expand 1s forwards;
}
[data-expand="open"] > *:first-child {
    display: none;
}
[data-expand="open"] > *:not(*:first-child) {
    display: block;
}
@keyframes op-expand {
    0% {background: #442f99; height: 1em; width: 0; padding: 0;}
    50% {height: 0; width:0;}
    100% {background: rgba(0,0,0,0); height: 15em; width: 25vw; padding: 1em; overflow-y: auto; overflow-x: hidden;}
}
@keyframes cl-expand {
    0% {background: #442f99; height: 15em; width: 25vw; padding: 0;}
    50% {height: 0;}
    100% {background: rgba(0,0,0,0); height: unset; width: unset; padding: 1em;}
}
.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}
.content {
    margin-left: 10px;
    margin-right: 10px;
    background: #c8dacf;
}
/* ---                                             --- **
**                       FOOTER                        **
** ---                                             --- */
footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fffbf4;
}
.page-footer {
    background-color: #251b3e;
    border: 1px solid #97007a;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 5px;
}
.footer-copyright {
    color: #97007a;
    border-radius: 3px 3px 3px 3px;
}
.footer-copyright a {
    color: #97007a;    
}
.copyright {
    color: #44ff44;
    font-weight: bold;
}
/* ---                                             --- **
**                       POLITIES                      **
** ---                                             --- */
.polities {
    font-size: 0.6rem;
    background: #c1C1C1;
}
.polities h3 {
    font-size: 1rem;
}
.polities h4 {
    font-size: 0.8rem;
}
.polities h5 {
    font-size: 0.7rem;
}
/* ---                                             --- **
**                       VARIOUS                       **
** ---                                             --- */
.container-fluid {
    padding-left: 2px;
    padding-right: 2px;
}
.content {
    margin-left: 1px;
    margin-right: 1px;
}
.page-header {
    padding-bottom: 1px;
    margin: 0 5px 0 5px;
}
.breadcrumb {
    padding: 50px 5px 0px 20px;
    margin-bottom: 3px;
    background-color: #c8dacf;
}
.glyph {
    font-size: 0.9rem;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-default {
    margin-top: 5px;
    margin-left: 30px;
    background: #76c2c4;
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 64%, #72aa00 80%, #72aa00 80%, #9ecb2d 100%);
    background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 64%,#72aa00 80%,#72aa00 80%,#9ecb2d 100%);
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 64%,#72aa00 80%,#72aa00 80%,#9ecb2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
    color: #ffffff;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.btn-icon { color: #44ff44; margin-right: 5px; margin-left: 5px;}
.btn-pink {
    background-color: #ed184f!important;
    background-image: linear-gradient(90deg, #fd5581, #fd8b55);
}
.img-thumbnail {
    padding:        5px;
    margin:         0 auto 0.5em;
    border:         1px solid #C1C1C1;
    background:     #ffffff;
    /* CSS3 effects */
    background:     -webkit-linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    background:     -moz-linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    background:     -ms-linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    background:     -o-linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    background:     linear-gradient(#ffffff, #ffffff 20%, #d8d8d8 80%, #C1C1C1);
    -webkit-border-radius:  2px 2px 2px 2px;
    -moz-border-radius:  2px 2px 2px 2px;
    -ms-border-radius:  2px 2px 2px 2px;
    -o-border-radius:  2px 2px 2px 2px;
    border-radius:  2px 2px 2px 2px;
    -webkit-box-shadow:     0 0 3px rgba(0,0,0, 0.2);
    -moz-box-shadow:     0 0 3px rgba(0,0,0, 0.2);
    -ms-box-shadow:     0 0 3px rgba(0,0,0, 0.2);
    -o-box-shadow:     0 0 3px rgba(0,0,0, 0.2);
    box-shadow:     0 0 3px rgba(0,0,0, 0.2);
}
.pager li a {
    background-color: #ffcdf5;
    color: #337ab7;
    font-weight: bold;
    background-color: #ededec!important;
    background-image: linear-gradient(90deg, #ededec, #c47c92);
    text-shadow: 0 1px 0 #eee,
             0 2px 0 #e5e5e5,
             -1px 3px 0 #C8C8C8;
}
.pager li a:hover {
    background-color: #0f2537!important;
    background-image: linear-gradient(90deg, #0f2537, #3782c4);
    color: #ffffff;
    transition: 0.5s;
    transform: rotate(180deg);
    text-shadow: 0 1px 0 #373737;
}
.question {
    color: #ffffff;
    border: 1px solid #90007a;
    background-color: #90007a;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
fieldset.fieldset-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em .4em .4em !important;
    margin: 0 0 .5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.fieldset-border {
    font-size: 0.8em !important;
    font-weight: bold !important;
    text-align: left !important;
    padding-bottom: 0.5em;
}
.form-quest {
    margin-left: 35px;
    margin-bottom: 5px;
    font-size: 0.8em;
    color: #90007a;
}
.btn-quest {
    margin-top: 2px;
    margin-left: 10px;
    background: #76c2c4;
    background: -moz-linear-gradient(top, #76c2c4 0%, #7db6ce 64%, #7894b7 80%, #7d8bce 80%, #7d76c4 100%);
    background: -webkit-linear-gradient(top, #76c2c4 0%,#7db6ce 64%,#7894b7 80%,#7d8bce 80%,#7d76c4 100%);
    background: linear-gradient(to bottom, #76c2c4 0%,#7db6ce 64%,#7894b7 80%,#7d8bce 80%,#7d76c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c2c4', endColorstr='#7d76c4',GradientType=0 );
    color: #ffffff;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #ffffff;
}
.glyph-quest { color: #44ff44; margin-right: 5px; background-color: #ffffff; border: 1px solid #ffffff; border-radius: 50%;}
.chapter-title,
.subchapter {
    margin-top: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 2px 0 rgba(0,0,0,0.4),
        -1px -2px 0 rgba(255,255,255,1);  
    padding: 5px;
}
.chapter-title {
    color: #90007a;
    font-size: 0.9em;
    border-left: 1px dotted #90007a;
    border-bottom: 1px solid #90007a;
    border-right: 2px solid #90007a;
}
.subchapter {
    color: #371cb7;
    font-size: 0.85em;
}
.preamble {
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;
    font-size: 0.8em;
    font-weight: bold;
}
.star:hover {
    transition: 0.2s;
    transform: rotate(360deg);
}
.red {
    color: #ff0000;
}
.orange {
    color: #ff9900;
}
.green {
    color: #44ff44
}
.blue {
    color: #337ab7;
}