<!--
*/ =================================================== **
**            HEADER PAGE                              **
** =================================================== */
/* Author    : Thierry CHARPENTIER                      *
*  Date      : 25.10.2018                               *
*  Version   : V1R0                                     *
* ==================================================== */
-->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!-- Favicon et shortcut, pour tous les systèmes -->
		<link rel="apple-touch-icon" sizes="60x60" href="public/images/ico/apple-touch-icon.png" >
		<link rel="icon" sizes="16x16" href="public/images/ico/favicon-16x16.png" >
		<link rel="icon" sizes="32x32" href="public/images/ico/favicon-32x32.png" >
		<link rel="manifest" href="public/images/ico/android-chrome-manifest.json" >
		<link rel="shortcut icon" type="image/png" href="public/images/ico/favicon.ico" >

        <title>TH.CHARPENTIER</title>
        
        <!-- ###          C.S.S. / CUSTOM STYLES          ### -->
        <link href="public/css/dashboard.css?v1=1.0.0" rel="stylesheet">
        <link href="public/css/styles-adm.css" rel="stylesheet">

        <!-- ###          C.S.S. / GOOGLE FONTS           ### -->
        <link href='https://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
        
        <!-- ###          C.S.S. / AWESOME ICONS          ### -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        
    </head>
    
    <body>
        <div id="top"></div>
        <div class="wrapper">
            <div class="sidebar" data-color="purple" data-background-color="white">
                <div class="logo">
                    <a href="index.php"" class="simple-text logo-mini">
                        <img src="public/images/admin.png"></a>
                    <a href="" class="simple-text logo-normal">ADMINISTRATION</a>
                </div>

                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.php">
                                <i class="fas fa-home"></i>
                                <p>Retour vers le site</p>
                            </a>
                        </li>
                        
                