<!--
*/ =================================================== **
**            NAVIGATION BAR                           **
** =================================================== */
/* Author    : Thierry CHARPENTIER                      *
*  Date      : 16.09.2018                               *
*  Version   : V2R0                                     *
* ==================================================== */
-->
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
        <div class="container-fluid">
            <!-- Brand and toogle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="index.php">
                    <h2>TH.CHARPENTIER</h2>
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="bs-navbar-collapse-1">
                <ul class="navbar-nav">
<?php if(isset($_SESSION['Id']) AND $_SESSION['level'] > 3) { ?>
    <li class="nav-item btn btn-primary">  
        <a href="admin.php?action=deconnexion" class="nav-link">Déconnexion</a>
    </li>
<?php } ?>
                </ul>
            </div>
        </div>
    </nav>
            