<li class="nav-item">
    <a class="nav-link" href="#top">
        <i class="fas fa-step-backward"></i>
        <p>Retour vers le haut</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#map">
        <i class="fas fa-map-pin"></i>
        <p>Préparation des visites</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#services">
        <i class="far fa-window-restore"></i>
        <p>Gestion des services</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#frequentation">
        <i class="fas fa-users"></i>
        <p>Création de comptes</p>
    </a>
</li>